/* Personnalisation du corps des popups GeoJSON */
.lascar-ct-popup {
	width: 260px;
	max-height: 140px;
	overflow-y: scroll;
}

/* Personnalisation du composant "Loader" */
.lascar-leaflet-loader {
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 5px 5px;
}

.lascar-leaflet-loader > p { 
	display: inline-block; 
	padding: 0px; 
	margin: 0px 5px;
}
.lascar-leaflet-loader > .loader-icon > .glyphicon { 
	animation: full-rotation 2s linear infinite; 
}
@keyframes full-rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }