/* Redimensionnement de la page :
   pour permettre l'affichage "plein écran". */
html, body {
	height: 100%;
	width: 100%;
}

/* Personnalisation du corps de page :
   pour contenir la carte.*/
body {
	position: relative;
	margin: 0px;
	padding: 0px;
}